.App {
  margin: auto;
  height: 100vh;
  background-color: #0e203f;
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.jsbm__logo__contenedor {
  width: 100%;
  margin: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jsbm__logo {
  height: 7.5rem;
}

.contenedor__calculadora {
  width: 400px;
  height: 600px;
  padding: 14px;
  background: linear-gradient(45deg, rgb(39, 8, 216), rgba(77, 0, 211, 0.969));
  border-radius: 20px;
  border: 5px solid white;
}

.fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}