.App {
  margin: auto;
  width: 100%;
  height: 100vh;
  background-color: #ebebec;
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.jsbm__logo__contenedor {
  width: 100%;
  margin: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jsbm__logo {
  height: 7.5rem;
}

.contenedor__calculadora {
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: #99c9ff;
  border-radius: 20px;
  border: 5px solid white;
}